body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 42px;
    background-color: #293449;
}

.top-bar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 490px;
}

a {
    text-decoration: none;
}

.top-background {
    width: 100%;
    height: 320px;
    background-color: #f4f7f9; 
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    min-height: 42px;
    background-color: #ee3643;
    object-fit: contain;
    color: #ffffff;
    font-size: 19px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    color: #ffffff;
    background-color: #293449;
    font-size: 17px;
    width: 268px;
    min-height: 40px;
    border: 1px solid #293449;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
}

.search:hover {
    background-color: #212a3a;
}

.shopping-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 450px;
    min-height: 42px;
}

.shopping-menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    min-height: 42px;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

.shopping-menu a:hover {
    background-color: #212a3a;
}

.shopping-menu a:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.shopping-menu .make-order {
    width: 150px;
    min-height: 42px;
    background-color: #63a63e;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.06;
    text-align: center;
}

.shopping-menu .make-order:hover {
    background-color: #5fbb2d;
}

.shopping-menu .make-order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 278px;
    background-color: #f4f7f9;
}

.top-menu .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-additional {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.full-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 196px;
    height: 60px;
    margin-left: 53px; 
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.44;
    text-align: left;
    color: #ee3643;
}

.phone-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    min-height: 68px;
    margin: 46px 51px 43px 71px;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 264px;
    min-height: 39px;
    margin-bottom: 10px;
    border: 3px solid #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    color: #ee3643;
    text-align: left;
}

.adress-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px; 
    width: 250px;
    min-height: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
}

.entry-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 299px;
    min-height: 69px;
    margin-top: 36px;
    margin-bottom: 43px;
}


.entry-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 121px;
    min-height: 45px;
    margin-left: 18px;
    margin-right: 10px;
    margin-bottom: 24px;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #000000;
}

.entry-back:hover {
    color: #ee3643;
}

.entry-back:active {
    color: rgba(0, 0, 0, 0.3);
}

.register-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    min-height: 45px;
    margin-bottom: 24px;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #000000;
}

.register-back:hover {
    color: #ee3643;
}

.register-back:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    display: block;
    width: 940px;
    min-height: 55px;
    margin-bottom: 60px;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 var(--dark);
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #ffffff;
}

.main-navigation a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 134px;
    /* margin-left: 3px;
    margin-right: 3px; */
    min-height: 55px;
    color: #ffffff;
}

.main-navigation li {
    list-style-type: none;
}

.main-navigation a:hover {
    background-color: #212a3a;
}

.main-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 409px;
    margin-top: 59px;
}

.article-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article-size {
    width: 300px;
    height: 123px;
}

.article-size a:link {
    color: #ffffff;
}

.materials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffbf47;    
}

.materials-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 135px;
    height: 75px;
    margin-left: 23px;
}

.materials-button .article-additional {
    margin-left: 2px;
}

.tool {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #3bbce3;
}

.tool-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 135px;
    height: 75px;
    margin-left: 23px;
}

.tool-button .article-additional {
    margin-left: 2px;
}

.equipments {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #dc91d8;
}

.equipments-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 135px;
    height: 75px;
    margin-left: 23px;    
}

.equipments-button .article-additional {
    margin-left: 2px;
}

.article-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: block;
    width: 620px;
    min-height: 266px;
}

.wrapper h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #ffffff;
}

.wrapper span {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: #ffffff;    
}

.wrapper-drill {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 620px;
    height: 266px;
    background-image: url("../img/slider-image.jpg");
}

.drill {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 55px;    
}

.drill-button {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 217px;   
    margin-left: 24px; 
}

.wrapper-puncher{
    background-image: url("../img/slide-image.jpg");
}

.open-catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 195px;
    min-height: 38px;
    background-color: #ee3643;
    border: none;
    font-size: 14px; 
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
}

.open-catalog:hover {
    background-color: #ca2c37;
}

.open-catalog:active {
    background-color: #ba2732;    
}

.wrapper-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 575px;
    min-height: 40px;
    margin-left: 25px;
    margin-right: 20px;
}

.discount-deliveries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 266px;
}

.discount {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #8ed78f;
}

.discount-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 135px;
    height: 75px;
    margin-left: 23px;      
}

.deliveries {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffbf47;     
}

.deliveries-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 135px;
    height: 75px;
    margin-left: 23px;       
}

.main-menu h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    color: #ffffff;
}

.article-additional {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 135px;
    min-height: 38px;
    opacity: 0.1;
    background-color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
}

.article-additional:hover {
    opacity: 0.2;
    background-color: #000000;
}

.article-additional:active {
    opacity: 0.3;
    background-color: #000000;
}

.popular-goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 428px;
    margin-top: 53px;
}

.popupal-goods-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 89px;
    background-color: #f9f6f0; 
    padding-left: 30px;
    padding-right: 24px;
    margin-bottom: 21px;
}

.popupal-goods-menu h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #32425c;
}

.popular-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 253px;
    min-height: 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
}

.popular-button:hover {
    background-color: #ca2c37;
}

.popular-button:active {
    background-color: #ba2732;    
}

.main-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popular-goods .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 318px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.items h3 {
    font-family: 'PT Sans' sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #000000;
    margin-block-end: 0;
    margin-block-start: 0;
}

.items a:link {
    color: #000000;     
}

.items-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 114px;
}

.price-old {
    font-family: 'PT Sans' sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.06;
    text-decoration: line-through;
    text-align: center;
    color: #a9a9a9;  
    margin-block-end: 0;
    margin-block-start: 0;
}

.price-new-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 141px;
    min-height: 38px;
    object-fit: contain;
    background-color: #ee3643;
    border-radius: 2px;
    font-family: 'PT Sans' sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.06;
    letter-spacing: normal;
    color: #ffffff;
    margin-block-end: 0;
    margin-block-start: 0;
}

.popular-goods article:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.main-suppliers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 85px;
    min-height: 419px;
}

.popular-suppliers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 89px;
    background-color: #f9f5f0;
    padding-left: 30px;
    padding-right: 24px;
}

.popular-suppliers h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #32425c;
}

.popular-suppliers a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 253px;
    min-height: 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 2px;
    text-transform: uppercase;
}

.popular-suppliers a:hover {
    background-color: #ca2c37;
}

.popular-suppliers a:active {
    background-color: #ba2732;
}

.suppliers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 310px;
    margin-top: 20px;
}

.suppliers-list article:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.suppliers-list article:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.list-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    min-height: 145px;
}

.list-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    min-height: 145px;
}

.brand-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    min-height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    float: left;
}

.section-back {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-height: 522px;
    background-color: #f4f7f9;
}

.service-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 398px;
    min-height: 96px;
    padding-bottom: 74px;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.description ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.delivery-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 619px;
    min-height: 282px;
    margin-left: 80px;
    background-color: #f4f7f9;
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.section-back p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.85;
    text-align: left;
    color: #000000;  
    margin-block-end: 0;
    margin-block-start: 0;    
}

.delivery-description h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #32425c;  
    margin-block-end: 0;
    margin-block-start: 0;  
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 275px;
    min-height: 147px;
}

.section-back .service {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #000000; 
    margin-block-end: 0;
    margin-block-start: 0;  
}

.section-back li {
    list-style-type: none;
}

.section-back a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 21px;
    width: 240px;
    min-height: 61px;
    padding-left: 22px;
    background-color: #32425c;
    color: #ffffff;
}

.section-back a:hover {
    box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
    background-color: #293449;
    color: #ffffff;    
}

.section-back a:active {
    box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
    background-color: #ffffff;   
    color: #32425c; 
}

.company-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 536px;
}

.company-contacts .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 519px;
    min-height: 368px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    min-height: 368px;
}

.company-contacts h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #000000;
    margin-block-end: 0;
    margin-block-start: 0;
}

.company-contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.85;
    text-align: left;
    color: #000000;
    margin-block-end: 0;
    margin-block-start: 0;
}

.company-contacts li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    text-align: left;
    color: #000000; 
    margin-block-end: 0;
    margin-block-start: 0;   
}

.company-button,
.contacts-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    min-height: 38px;
    background-color: #ee3643;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 2px;
}

.contacts-button {
    width: 300px;    
}

.contacts-button:hover {
    background-color: #ca2c37;    
}

.company-button:hover {
    background-color: #ca2c37;
}

.contacts-button:active {
    background-color: #ba2732;
}

.company-button:active {
    background-color: #ba2732;
}

footer {
    min-height: 300px;
    background-color: #32425c;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 193px;
}

.logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 63px;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    min-height: 68px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    border: 0px solid #ee3643;
    object-fit: contain;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    margin-right: 173px;
    text-transform: uppercase;
}

.footer-navigation {
    display: block;
    width: 547px;
    min-height: 63px;
}

.footer-navigation a {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: #f1f5f7;
}

.footer-navigation ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.additional-navigation a:hover {
    text-decoration: underline;   
}

.additional-navigation a:active {
    color: rgba(241, 245, 247, 0.5);  
    text-decoration: none;  
}

.company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 322px;
    min-height: 40px;
    margin-right: 91px;
}

.company-info .info {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: #f3f7f9;
}

.additional-navigation {
    display: block;
    width: 524px;
    min-height: 40px;
}

.additional-navigation ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.additional-navigation a {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: #ffd180;    
}

.additional-navigation li {
    list-style-type: none;    
}

.footer-contacts-back {
    min-height: 107px;
    background-color: #293449;
    width: 100%;
    min-height: 107px;
    margin-top: 53px; 
}

.footer-contacts-back .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 107px;
}

.footer-contacts-back p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;    
}

.footer-contacts-back li {
    list-style-type: none;  
}

.social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 132px;
    min-height: 42px;

}

.social-networks ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.vk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.vk:hover,
.vk:active {
    background-color: #ee3643;
}

.facebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #212a3a;  
}

.facebook:hover,
.facebook:active {
    background-color: #ee3643;
}

.instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.instagram:hover,
.instagram:active {
    background-color: #ee3643;
}

.add-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 284px;
    min-height: 32px;
}

.mail {   
    font-weight: 400;
    line-height: 1.13;
    text-align: left;
    color: #ffd180; 
}

.website {
    font-weight: 400;
    line-height: 1.13;
    text-align: left;
    color: #ffd180;
}

.mail:hover,
.website:hover {
    text-decoration: underline;
}

.mail:active,
.website:active {
    color: #ee3643;
    text-decoration: none;
}

/* inner page */

.inner-page {
    font-family: 'PT Sans', sans-serif;
}

.user-back {
    width: 299px;
    height: 45px;
    background-color: #ffffff;
    position: absolute;
    margin: 102px 199px 198px 818px;       
}

.user {
    width: 183px;
    height: 20px;
    font-size: 21px;
    font-weight: 400px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 14px 69px 11px 47px;    
}

.button-personal {
    font-size: 16px;
    font-weight: 400px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;    
}

.page-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 358px;
    min-height: 12px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    padding-inline-start: 0;    
}

.page-menu li {
    list-style-type: none;    
}

.page-menu a:link {
    color: #000000;
}

.puncher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 89px;
    padding-left: 30px;
    background-color: #f2f6f8;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #32425c;   
}

.filter-sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    min-height: 38px;
    margin-top: 20px;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
    width: 202px;
    min-height: 38px;
    margin-right: 20px;
    background-color: #f7f3ec;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    margin-block-end: 0;
    margin-block-start: 0; 
    text-transform: uppercase;      
}

.sorting-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    min-height: 38px;
    background-color: #f7f3ec; 
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: left;
    color: #000000;  
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 19px; 
}

.sort h3 {
    margin-block-end: 0;
    margin-block-start: 0;
}

.sort-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 354px;
    margin-left: 139px;
    text-transform: uppercase;
}

.sort-type a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;    
}

.sort-type a:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-type a:active {
    color: #ee3643;
    border-bottom: none;
}

.sort-ascending {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 43px;
    min-height: 10px;
    margin-right: 17px;
}

.catalog-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.sorting-types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    min-height: 688px;
}

.price {
    width: 46px;
    min-height: 14px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.76;
    text-align: left;
    color: #000000; 
    margin-top: 12px;   
}

.range-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    min-height: 80px;
    background-color: #f7f3ec; 
    margin-top: 14px;
    margin-bottom: 9px;   
}

.price-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95px;
    min-height: 38px;
    background-color: #f7f3ec;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.06;
    text-align: center;
    color: #000000;  
}

.sorting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.sorting li {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    list-style-type: none;
}

.sorting-types .suppliers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 216px;
    margin-top: 51px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.sorting .h2 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.76;
    text-align: left;
    color: #000000;        
}

.sorting-types .supply {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 98px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.76;
    letter-spacing: 0.17px;
    text-align: left;
    color: #000000;
    margin-block-end: 0;
    margin-block-start: 0;
}

.show-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 140px;
    min-height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff; 
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: #000000;    
}

.common-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 700px;
    min-height: 1084;
}

.items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    min-height: 994px;
    margin-bottom: 52px;
}

.items-list .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 318px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.items-list article:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.items-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: 21px;
}

.items-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;
}

.items-row3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: 21px;
}

.inner-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 284px;
    min-height: 38px;
}

.inner-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 134px; 
}

.next-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 38px;
    min-height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: #000000;       
}

.inner-menu a:link {
    color: #000000;  
    text-decoration: none;
}

.inner-menu li {
    list-style-type: none;    
}

.inner-menu li:hover {
    border: solid 1px #bdc6ca;
    background-color: #ffffff;
}

.inner-menu li:active {
    border: solid 1px #ee3643;
    background-color: #ffffff;   
}

.next-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 140px;
    min-height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff; 
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: #000000;      
}

.next-page:hover {
    border: solid 1px #bdc6ca;   
}

.next-page:active {
    border: solid 1px #ee3643;  
}

.about-puncher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 261px;
    background-color: #f4f7f9;    
}

.puncher-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 121px;
}

.about-puncher h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #000000;
}

.about-puncher p {
    min-height: 121px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.85;
    text-align: left;
    color: #000000; 
}