body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', 'PT Sans' sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
    color: #000000;

    background: #ffffff;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.top-bar {
    background-color: #293449;    
}

.top-menu {
    padding-top: 46px;
    padding-bottom: 60px;
    background-color: #f4f7f9;    
}

.logo-back {
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo {
    width: 109px;
    height: 19px;
    object-fit: contain;
    color: #ffffff;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.shopping-menu a {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.shopping-menu .make-order {
    width: 150px;
    height: 42px;
    background-color: #63a63e;
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
}
